.LogMain1 {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Login {
  width: 30%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0);
  border: 0vmax solid royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logsubs {
  width: 100%;
  height: 100%;
}
.signup {
  width: 30%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.1);
}
.loginsub1 {
  min-width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginsub11 {
  width: 100%;
  height: 70%;
}

.loginsub122 {
  min-width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginsub112 {
  width: 100%;
  height: 90%;
}
.Login2 {
  width: 30%;
  height: 70%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.signup2 {
  width: 30%;
  height: 70%;
  background-color: forestgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.largehead {
  color: white;
  font-size: 3vmax;
  font-weight: bolder;
}
.loginhead {
  color: white;
  font-size: 2.5vmax;
  font-weight: bolder;
}
.ipdiv {
  width: 100%;
  height: 50%;
}
.inputlog {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputlog1 {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputlogip {
  width: 80%;
  height: 60%;
  font-size: 1.2vmax;
  border: 0px solid black;
  border-bottom: 0.15vmax solid black;
}
.loghead {
  width: 100%;
  height: 20%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loghead2 {
  width: 100%;
  height: 20%;
  background-color: forestgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginsub2 {
  min-width: 100%;
  height: 20%;
}
.inputlogbtn {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputlogbtn1 {
  width: 50%;
  height: 70%;
  font-size: 1.5vmax;
  border: 0px solid black;
  background-color: royalblue;
  color: white;
  border-radius: 0.5vmax;
  cursor: pointer;
}

.inputlogbtn2 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputlogbtn21 {
  width: 50%;
  height: 60%;
  font-size: 1.5vmax;
  border: 0px solid black;
  background-color: forestgreen;
  color: white;
  border-radius: 0.5vmax;
  cursor: pointer;
}
.su {
  font-size: 1.3vmax;
  color: royalblue;
  font-weight: bolder;
  cursor: pointer;
}
.formlog {
  width: 100%;
  height: 100%;
}
.formsign {
  width: 100%;
  height: 100%;
}
.fpmain {
  width: 100vmax;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(0.5vmax);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fpcard {
  width: 35%;
  height: 50%;
  background-color: white;
  border: 0.3vmax solid indigo;
}
.fpname {
  width: 100%;
  height: 40%;
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fphead {
  color: white;
  font-size: 3vmax;
  font-weight: bolder;
}
.fpmid {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fpback {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.backtxt {
  font-size: 1.3vmax;
  font-weight: bolder;
  color: black;
  cursor: pointer;
}
.formfp {
  width: 100%;
  height: 100%;
}
.fpbtn {
  width: 30%;
  height: 80%;
  font-size: 1.3vmax;
  background-color: indigo;
  color: white;
  border: 0px solid white;
  cursor: pointer;
  border-radius: 0.5vmax;
}
.adminbtn {
  width: 50%;
  height: 50%;
  cursor: pointer;
  border: 0px solid black;
  background-color: white;
}
.adminbtndiv {
  width: 100%;
  height: 10vmax;
}
